@model Project.Models.Category

@{
    ViewData["Title"] = "Create Category";
}

<h2>Създаване на категория</h2>

<form asp-action="CreateCategory" method="post">
    <div class="form-group">
        <label for="Name">Име на категорията</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
    </div>
    <div class="form-group">
        <label for="Description">Описание на категорията</label>
        <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" required />
    </div>
    <div class="form-group">
        <label for="Calories">Калории на категорията</label>
        <input type="number" class="form-control" id="Calories" name="Calories" value="@Model.Calories" required />
    </div>
    <button type="submit" class="btn btn-primary">Създай категория</button>
</form>
